.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #368bc7;
  color: white;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  margin: 0;
  z-index: 200;
}
.header-item {
  display: flex;
  justify-content: center;
  align-content: center;
}
.header-text {
  padding-top: 0.4rem;
  margin: 0;
}
.header-app-logo {
  padding-right: 0.5rem;
}
.header-hamburger {
  display: none;
  position: absolute;
  left: 5px;
  top: 5px;
}

.header-hamburger.hidden {
  display: none;
}
@media only screen and (max-width: 600px) {
  .header-hamburger {
    display: flex;
    padding-top: 0.4rem;
    margin: 0;
  }
}
