.dashboard-page {
  .dashboard-info {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 130px;
    gap: 8rem;
    .info {
      background-color: #368bc7c7;
      border-radius: 0.2rem;
      padding: 0.4rem;
      border: 2px solid #439ddcba;
      box-shadow: 0 0 2px 1px #137bc5b8;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      h2 {
        font-weight: bolder;
        color: white;
      }
      span {
        color: white;
        font-weight: bold;
      }
      .info-svg {
        position: absolute;
        right: 9px;
        top: 25%;
        opacity: 0.5;
        color: #62656b;
      }
    }
    .orange {
      background-color: #fdab15;
    }
  }
  .dashboard-body {
    margin-top: 3rem;
    display: flex;
    min-height: 500px;
    .dashboard-news {
      width: 67%;
      border-radius: 0.2rem;
      box-shadow: 0 0 2px 2px #9a9a9a;
      position: relative;
      padding: 0.5rem 1rem;
      .dashboard-news-header {
        display: flex;
        h3 {
          margin-right: 1rem;
        }
        select {
          width: fit-content;
        }
      }
      .dashboard-news-body {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: 300px;
        gap: 2rem;
        margin-top: 3rem;
      }
    }
    .pr-board {
      width: 37%;
      margin-right: 4rem;
      border-radius: 0.2rem;
      box-shadow: 0 0 2px 2px #9a9a9a;
      height: 500px;
      position: relative;
      .pr-board-header {
        border-radius: 0.2rem 0;
        h3 {
          text-align: center;
          box-shadow: 0 0 2px 2px #9a9a9a;
          padding: 0.4rem;
          background-color: gainsboro;
          border-radius: 0.2rem 0.2rem 0 0;
          svg {
            margin-bottom: 0.3rem;
            color: #ffc107;
          }
        }
      }
      .selected-pr-info {
        position: absolute;
        background-color: white;
        border: 1px solid #ced4da;
        border-radius: 0.2rem;
        height: 84%;
        width: 96%;
        top: 66px;
        left: 11px;
        padding: 0.5rem;
        box-shadow: 0 0 8px 0px #9a9a9a;
        z-index: 200;
        .selected-pr-info-header {
          margin-bottom: 1rem;
          display: flex;
          justify-content: space-between;
        }
        .selected-pr-info-body {
          .pr-info-field {
            margin-bottom: 0.7rem;
            label {
              margin: 0;
              color: #a2a2a2;
              margin-left: 0.4rem;
            }
          }
        }
        .delete-pr {
          position: absolute;
          right: 8px;
          bottom: 21px;
        }
      }
      .pr-board-body {
        padding: 0.5rem;
        position: relative;
        height: 77%;
        overflow-y: scroll;

        .pr.labels {
          p {
            background-color: white;
            box-shadow: none;
            border-bottom: 1px solid #d2d2d2;
            border-radius: 0;
            cursor: auto;
          }
        }
        .pr {
          display: flex;
          justify-content: space-around;
          margin-bottom: 1.5rem;
          cursor: pointer;
          p {
            text-align: center;
            background-color: gainsboro;
            border-radius: 0.2rem;
            box-shadow: 0 0 2px 2px #9a9a9a;
            margin: 0;
          }
          .exercise-name {
            width: 40%;
            padding: 0.2rem;
          }
          .pr-info {
            width: 40%;
            padding: 0.2rem;
          }
        }
      }
      .add-pr {
        position: absolute;
        bottom: 12px;
        left: 12px;
        z-index: 100;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .dashboard-page {
    .dashboard-info {
      display: block;
      .info {
        margin-bottom: 0.3rem;
      }
    }
    .dashboard-body {
      display: block;
      .pr-board {
        width: 100%;
        margin: 0;
      }
      .dashboard-news {
        width: 100%;
        margin-top: 2rem;
        .dashboard-news-header {
          display: block;
        }
        .dashboard-news-body {
          .userWorkout {
            .userWorkout-buttons {
              span {
                width: 60%;
              }
            }
          }
        }
      }
    }
  }
}
