.App {
  padding: 2rem;
  .App-header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #349e37;
    color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    margin: 0;
    z-index: 200;
  }
  .App-body {
    margin-top: 2rem;
  }
}
.page-header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  button {
    height: 2.5rem;
    margin-top: 0.4rem;
  }
}
.login-page {
  .login-page-body {
    display: flex;
    justify-content: center;
    form {
      box-shadow: 0px 0px 6px 3px grey;
      padding: 1rem;
      min-width: 25%;
      h3 {
        text-align: center;
      }
      input {
        margin-top: 1rem;
      }
      button {
        margin-top: 1rem;
      }
    }
  }
}

.home-page {
  .home-page-body {
    display: flex;
    .exercises {
      width: 30%;
      margin-right: 2rem;
      .add-exercise-form {
        height: fit-content;
        padding: 1rem;
        box-shadow: 0px 0px 6px 3px grey;
        input {
          margin-top: 1rem;
        }
        button {
          margin-top: 1rem;
        }
      }
      .show-exercises {
        max-height: 500px;
        overflow: hidden;
        margin-top: 2rem;
        padding: 1rem;
        box-shadow: 0px 0px 6px 3px grey;
        display: flex;
        flex-direction: column;
        position: relative;

        select {
          margin-top: 1rem;
        }
        input {
          margin-top: 1rem;
        }
        .delete-exercise {
          position: absolute;
          background-color: white;
          top: 72px;
          left: 76px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 116px;
          width: 400px;
          z-index: 200;
          box-shadow: 0px 0px 5px 3px grey;
          padding: 0.4rem;
          h4 {
            text-align: center;
          }
          .buttons {
            display: flex;
            justify-content: space-around;
          }
        }

        .exercise:hover {
          background-color: #dcdcdc5e;
        }
      }
    }
    .popular-templates {
      width: 68%;
      display: flex;
      justify-content: space-between;
      .color-input {
        width: 10%;
        padding: 0;
        margin-left: 1rem;
      }
      .add-template-form {
        height: fit-content;
        padding: 1rem;
        box-shadow: 0px 0px 6px 3px grey;
        width: 50%;
        margin-right: 2rem;
        .form-inputs {
          input {
            margin-top: 1rem;
          }
          .workout-tag {
            display: flex;
            justify-content: space-between;
          }
        }
        button {
          margin-top: 1rem;
        }
        .exercise {
          background-color: #dcdcdc5e;
          margin-top: 0.3rem;
        }
      }
      .templates-list {
        height: 473px;
        padding: 1rem;
        box-shadow: 0px 0px 6px 3px grey;
        width: 50%;
        position: relative;
        .templates-list-body {
          .templates-search {
            display: flex;
          }

          .templates {
            margin-top: 1rem;
            padding: 0.3rem;
            overflow-y: scroll;
            border: 1px solid #ced4da;
            max-height: 344px;
            .template {
              cursor: pointer;
              font-size: large;
              font-weight: 600;
              margin: 0;
              padding: 0.4rem;
              display: flex;
              justify-content: space-between;
              p {
                margin: 0;
                span {
                  font-size: medium;
                  color: #ced4dab8;
                  font-style: italic;
                }
              }
            }
          }
        }
        .template-info {
          position: absolute;
          background-color: white;
          z-index: 100;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          box-shadow: 0px 0px 5px 3px grey;
          padding: 0.5rem;
          font-size: large;
          font-weight: 600;
          .template-info-header {
            display: flex;
            justify-content: space-between;
          }
          .template-exercises {
            border: 1px solid #ced4da;
            padding: 0.3rem;
            max-height: 270px;
            overflow-y: scroll;
          }
          button {
            position: absolute;
            bottom: 13px;
          }
        }
      }
    }
  }
}
.error-message {
  color: #dc3545;
  font-size: smaller;
}

.selected-exercises {
  margin-top: 1rem;
  padding: 0.3rem;
  overflow-y: scroll;
  border: 1px solid #ced4da;
  position: relative;
  .exercise {
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    margin: 0;
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
    p {
      margin: 0;
      width: 100%;
    }
    span {
      font-size: medium;
      color: #ced4dab8;
      font-style: italic;
    }
    svg {
      margin-top: 0.3rem;
      color: #ced4dab8;
    }
  }
}

@media only screen and (max-width: 800px) {
  .home-page {
    .home-page-body {
      display: block;
      .exercises {
        width: 100%;
      }
      .popular-templates {
        width: 100%;
        .add-template-form {
          margin-top: 2rem;
        }
      }
    }
  }
}

$theme-colors: (
  "primary": #368bc7,
);
@import "~bootstrap/scss/bootstrap.scss";
