.confirm-delete {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  transition-timing-function: ease-out;
  transition: 0.2s;
  transform: scale(1);
  text-align: center;
  border-radius: 0.2rem;
  color: white;
  padding: 1rem;
  button {
    margin: 0.5rem;
    svg {
      margin-bottom: 0.2rem;
    }
  }
  .yes-button {
    background-color: #53c371;
  }
  .no-button {
    background-color: #c35353;
  }
  h5 {
    color: #62656b;
    font-weight: bold;
  }
}
.confirm-delete.hidden {
  transform: scale(0);
}
.workout-logs-header {
  margin-bottom: 2rem;
  display: flex;
  h1 {
    margin-right: 2rem;
  }
}

.loggedWorkout-header {
  .workout-date {
    position: absolute;
    right: 0;
    top: -30px;
    font-size: smaller;
    color: #a7a9ad;
    padding: 0.3rem;
  }
}
.workout-exercise {
  margin-bottom: 0.3rem;
  padding: 0.2rem;
  .exercise-header {
    font-size: larger;
    margin-bottom: 0.1rem;
  }
  .set {
    font-size: smaller;
  }
}
.calendar-row {
  display: flex;
  margin-top: 2rem;
  .calendar {
    margin-right: 5rem;
    width: 100%;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    button {
      margin-top: 0.5rem;
      padding: 0.2rem;
      font-weight: bolder;
    }
  }
}

@media only screen and (max-width: 800px) {
  .workout-logs-header {
    display: block;
    .alert {
      width: auto;
    }
  }
  .workout-logs-body {
    display: flex;
    flex-direction: column-reverse;
    .calendar-row {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 3rem;
      ul {
        display: block;
        padding: 0;
        button {
          margin-right: 0.2rem;
        }
      }
    }
  }
}
