.account-page {
  .account-page-body {
    display: flex;

    .side-nav {
      width: 20%;
      .side-nav-list {
        padding: 0;
        list-style: none;
        width: fit-content;
        font-size: larger;
        a {
          text-decoration: none;
        }
        .side-nav-list-item {
          padding: 0.5rem;
          color: #368bc7;
          svg {
            margin-right: 0.2rem;
            margin-bottom: 0.1rem;
          }
        }
        .side-nav-list-item:hover {
          background-color: #eff8ff;
          cursor: pointer;
        }
      }
    }
    .account-page-card {
      width: 80%;
      border-radius: 0.2rem;
      box-shadow: 0 0 2px 2px #dddfe2;
      padding: 2rem;
      h3 {
        margin-bottom: 2rem;
      }
      .personal-info {
        margin-bottom: 1rem;
        .info-header {
          border-bottom: 1px solid #d2d2d2;
          h6 {
            margin-bottom: 0.5rem;
          }
        }
        p {
          color: #a2a2a2;
        }
        .info-body {
          margin-top: 2rem;
          display: flex;
          .info-description {
            width: 20%;
            margin-right: 2rem;
            font-weight: 300;
            color: #a2a2a2;
          }
          .info {
            padding: 0.5rem 0 0.5rem 2rem;
            width: 80%;
            display: flex;
            justify-content: space-around;
            .info-col {
              margin-right: 1rem;
              width: 50%;
              position: relative;
              .info-input {
                margin-bottom: 1rem;
                label {
                  margin-bottom: 0.2rem;
                }
              }
              button {
                bottom: 0;
                right: 0;
                position: absolute;
                margin-bottom: 1rem;
              }
            }
          }
          .workouts-info {
            display: flex;
            flex-direction: column;
            padding: 0.5rem 0 0.5rem 2rem;
            width: 80%;
          }
        }
      }
      .card-data {
        display: flex;
        border-top: 1px solid #d2d2d2;
        .card-info {
          width: 30%;
          margin-right: 2rem;
          font-weight: 300;
          color: #a2a2a2;
          margin-top: 2rem;
        }
        .change-password-form {
          width: 70%;
          margin: 0 1rem;
          margin: 1rem 1rem 0 1rem;
          p {
            margin: 0;
            margin-top: 1rem;
          }
          .form-group {
            margin-bottom: 0;
          }
          .button {
            margin-top: 1rem;
            display: flex;
            justify-content: flex-end;
          }
        }
        .confirm-delete-account {
          margin-top: 2rem;
          margin-left: 3rem;
          width: 70%;
          display: flex;
          flex-direction: column;
          font-size: large;
          h5 {
            margin-bottom: 2rem;
          }
          .custom-checkbox {
            margin-bottom: 0.5rem;
          }
          button {
            width: fit-content;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .account-page {
    .account-page-body {
      display: block;
      .side-nav {
        width: 100%;
      }
      .account-page-card {
        margin: 0;
        width: 100%;
        .personal-info {
          p {
            margin-bottom: 2rem;
          }
          .info-body {
            display: block;
            .info-description {
              width: 100%;
            }
            .info {
              width: 100%;
              padding: 0;
            }
            .workouts-info {
              padding: 0;
              width: 100%;
            }
          }
        }
        .card-data {
          display: block;
          .card-info {
            width: 100%;
          }
          .change-password-form {
            width: 100%;
            margin: 0;
          }
          .confirm-delete-account {
            width: 100%;
            margin-left: 0;
          }
        }
      }
    }
  }
}
