.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: auto;
  }
}
button:focus {
  outline: 1px dotted;
}
button {
  display: inline-block;
  padding: 0.1em 0.5em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  background-color: #62676e;
  color: white;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  outline-color: white;
}
button:hover,
button:active {
  background-color: #2f3235;
}
.startWorkout-page {
  box-shadow: 0 0 5px 2px #378cc89e;
  padding: 1rem;
  width: 50%;
  margin: auto;
  .page-header {
    display: flex;
    justify-content: space-between;
  }
  .userWorkout-exercise {
    margin-bottom: 1rem;
    padding: 0.3rem;
    border: 1px solid #e4e0e0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    background-color: #f7f7f7;
    color: #62656b;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    transition: all 0.2s;
    outline-color: white;
    .exercise-header:hover {
      background-color: #e6e5e5;
      cursor: pointer;
    }
    .exercise-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0.2rem;
      margin-bottom: 0.2rem;
      transition: 0.3s;
      border: 0.16em solid rgba(255, 255, 255, 0);
      border-radius: 0.2em;
    }
    .set.hidden {
      max-height: 0;
      max-width: 0;
      /*and eventually delay an overflow:auto; */
      overflow: hidden;
      transition: max-height 0.2s, overflow 0s;
      padding: 0;
      margin: 0;
      border: 0;
      .set-number {
        opacity: 0;
      }
      .set-inputs {
        max-height: 0;
      }
    }
    .set {
      display: flex;
      padding: 0.4rem;
      margin: 0.2rem;
      margin-top: 1.5rem;
      border: 1px solid #e4e0e0;
      border-radius: 0.2rem;
      max-height: 5em;
      overflow: auto;
      transition: max-height 0.5s, overflow 0.5s 0.5s;
      .set-number {
        position: absolute;
        margin-top: -26px;
        color: white;
        background: #62676e;
        border-radius: 0.2rem;
        padding: 2px 10px;
        border: 1px solid white;
        font-weight: bolder;
      }
      .set-inputs {
        display: flex;
        margin-top: 0.5rem;

        span {
          padding: 0.3rem;
          margin-right: 1rem;
          margin-top: 0.1rem;
        }
      }
      svg {
        margin: auto;
        cursor: pointer;
      }
    }

    .add-set {
      svg {
        cursor: pointer;
      }
    }
  }
}

.addWorkout.hidden {
  display: none;
}
.add-workout-card {
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: 15%;
  left: 30%;
  height: 70%;
  width: 40%;
  background: white;
  z-index: 200;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 2px #378cc89e;
  padding: 1rem;
  .card-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    .card-categories.hidden {
      display: none;
    }
    .arrow-down {
      display: flex;
      background-color: #62676e;
      color: white;
      display: inline-block;
      border: 0.16em solid rgba(255, 255, 255, 0);
      border-radius: 0.2em;
      box-sizing: border-box;
      text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
      text-align: center;
      transition: all 0.2s;
    }
    .card-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      h5 {
        margin-top: 1rem;
      }
      .workout-name {
        width: fit-content;
      }
      .tag-inputs {
        display: flex;
        select {
          width: fit-content;
          margin-right: 1.5rem;
          option {
            padding: 0.3rem;
          }
        }
        .custom-tag {
          display: flex;
          .color-input {
            width: 40px;
            padding: 0;
          }
        }
      }
      p {
        color: #dc3545;
      }
    }
    .categories-header {
      display: flex;
      margin-bottom: 0.5rem;
      h6 {
        margin-right: 0.5rem;
        margin-bottom: 0;
        padding: 0.1rem;
      }
    }

    .category-button {
      background-color: #368bc7;
      outline-color: white;
    }
    .category-button:hover {
      border-color: rgba(255, 255, 255, 1);
    }
    .category.active {
      border-color: rgba(255, 255, 255, 1);
      background-color: #072c46;
    }

    .arrow-down {
      display: flex;
      background-color: #62676e;
      color: white;
      display: inline-block;
      border: 0.16em solid rgba(255, 255, 255, 0);
      border-radius: 0.2em;
      box-sizing: border-box;
      text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
      text-align: center;
      transition: all 0.2s;
    }

    .card-categories {
      margin-bottom: 0.5rem;
    }
    .card-categories.hidden {
      display: none;
    }
    .search-input {
      display: flex;
      margin-bottom: 1rem;
    }
    .card-exercises {
      list-style: none;
      overflow-y: scroll;
      margin-bottom: 1rem;
      border: 1px solid #ced4da;

      .exercise {
        cursor: pointer;
        padding: 0.1em 0.5em;
        margin-bottom: 0.1em;
        border: 0.16em solid rgba(255, 255, 255, 0);
        border-radius: 0.2em;
        box-sizing: border-box;
        text-decoration: none;
        font-weight: 300;
        color: #505358;
        transition: all 0.2s;

        display: flex;
        justify-content: space-between;
        span {
          padding-left: 0.5rem;
          font-size: larger;
        }
        svg {
          padding-bottom: 0.2rem;
        }
        .checked {
          right: 0;
          color: #368bc7;
        }
        .checked.hidden {
          display: none;
        }
      }
      .exercise:hover {
        background-color: #f1f1f1;
      }
      .exercise.active {
        background-color: #f1f1f1;
      }
    }
    .card-form-footer {
      display: flex;
      justify-content: space-between;
      h6 {
        margin-bottom: 0;
        cursor: pointer;
        padding: 0.2rem;
        padding-top: 0.4rem;
        border: 1px solid #ced4da;
        border-radius: 0.2rem;
      }
      h6:hover,
      h6.active {
        background-color: #f1f1f1;
      }
      span {
        margin-left: 0.3rem;
      }
    }
  }
}

.workouts-grid {
  font-family: "Roboto", sans-serif;
  display: grid;
  align-items: center;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  gap: 2rem;
}
.add-workout,
.userWorkout {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px #378cc89e;
  background-color: white;
  transform-style: preserve-3d;
  color: #505358;
  .add-workout-button {
    cursor: pointer;
    margin: auto;
    margin-top: 10%;
  }

  h3 {
    text-align: center;
    margin-bottom: 1rem;
    span {
      background-color: rgb(206, 34, 195);
      width: 30px;
      height: 30px;
      position: absolute;
      top: 7px;
      left: 6px;
      border-radius: 0.2rem;
    }
  }
  ul {
    list-style: none;
    padding: 0.2rem;
    margin: 0;
    li {
      span {
        padding-left: 0.5rem;
      }
      svg {
        padding-bottom: 0.2rem;
      }
    }
  }
  .userWorkout-body {
    overflow-y: scroll;
  }
  .userWorkout-buttons {
    margin-top: 0.1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    span {
      color: #368bc7;
    }
    .button-icon {
      margin-bottom: 0.2rem;
      margin-right: 0.2rem;
    }
  }
}

@media only screen and (max-width: 800px) {
  .page-header {
    display: block;
  }
  .add-workout-card {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    .card-form {
      .card-top {
        .tag-inputs {
          display: block;
          .select-tag {
            margin-bottom: 1rem;
          }
        }
      }
      .categories-header {
        margin-bottom: 0.5rem;
      }
    }
  }
  .startWorkout-page {
    width: 100%;
    .page-header {
      display: block;
    }
    .set {
      .set-inputs {
        padding: 0.2rem;
        margin-top: 0.5rem;
      }
      svg {
        height: 50px;
        width: 50px;
      }
    }
  }
}
