.reports-page {
  .reports-page-body {
    .chart {
      margin-bottom: 5rem;
      display: flex;
      padding: 0 0 2rem 3rem;
      .chart-description {
        width: 40%;
        margin: auto;
        color: #a2a2a2;
        font-size: large;
      }
      p {
        font-weight: bold;
        font-size: large;
        text-align: center;
        margin-bottom: 0;
      }

      .chart-bar {
        width: 40%;
        height: 400px;
        position: relative;
      }
      .chart-pie {
        width: 40%;
        height: 355px;
        position: relative;
      }
      .chart-line {
        width: 40%;
        height: 400px;
        position: relative;
        select {
          margin-top: 0.3rem;
          width: fit-content;
          margin: auto;
        }
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .reports-page {
    .reports-page-body {
      .chart {
        display: block;
        padding: 0;
        border-top: 1px solid #d2d2d2;
        .chart-description {
          width: 100%;
          margin-top: 4rem;
        }
        .chart-bar {
          width: 100%;
          height: 300px;
        }
        .chart-pie {
          width: 100%;
        }
        .chart-line {
          width: 100%;
        }
      }
    }
  }
}
