.login-page {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.card {
  margin-top: 1cm;
  min-width: 25%;
}
.submit-btn {
  display: flex;
  justify-content: flex-end;
}
.form-control.is-invalid {
  background-image: none;
}
