.register-page {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.card {
  min-width: 25%;
  margin-top: 1cm;
}

.submit-btn {
  display: flex;
  justify-content: flex-end;
}
