$theme-colors: (
  "primary": #368bc7,
);

$enable-validation-icons: false;

@import "~bootstrap/scss/bootstrap.scss";
@import "./components/unprotected/login/Login.scss";
@import "./components/unprotected/register/Register.scss";
@import "./components/protected/workouts/Workouts.scss";
@import "react-big-calendar/lib/sass/styles";
@import "react-big-calendar/lib/addons/dragAndDrop/styles";

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.home-page {
  display: flex;
  padding-top: 4rem;
}
.main {
  width: 100%;
  left: 0;
  padding: 20px 50px 50px 120px;
}

.footer {
  position: absolute;
  bottom: 0;
}

.alert {
  transition-timing-function: ease-in;
  transition: 0.5s;
  transform: translateY(0%);
  transform-style: preserve-3d;
}

.alert.hidden {
  opacity: 0;
  transition-timing-function: ease-out;
  transition: 0.5s;
  transform: translateY(130%);
  svg {
    opacity: 0;
  }
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.error-message {
  color: #dc3545;
  font-size: smaller;
}

a {
  text-decoration: none !important;
}

.server-message {
  transition-timing-function: ease-in;
  transition: 0.5s;
  position: fixed;
  top: 13%;
  right: 0;
  transform: translateX(-5%);
  transform-style: preserve-3d;
  text-align: center;
  font-size: large;
  width: 400px;
  height: 100px;
  z-index: 200;
  box-shadow: 0 0 5px 2px #62676e;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  background-color: white;
  .close-error {
    position: fixed;
    top: 1px;
    right: 3px;
    color: #50545a;
  }
  .svg {
    height: 100%;
    width: 25%;
    border-radius: 0.4rem 0 0 0.4rem;
    display: flex;
    svg {
      margin: auto;
    }
  }
  .server-response {
    margin: auto;
    span {
      color: #50545a;
    }
  }
}
.server-message.danger {
  .svg {
    background-color: #c35353;
    svg {
      color: #f16767;
    }
  }
  .server-response {
    h4 {
      color: #c35353;
    }
  }
}
.server-message.success {
  .svg {
    background-color: #53c371;
    svg {
      color: #67f18c;
    }
  }
  .server-response {
    h4 {
      color: #53c371;
    }
  }
}

.server-message.hidden {
  transition-timing-function: ease-out;
  transition: 0.2s;
  transform: translateX(130%);
  width: 0%;
  margin: 0;
  padding: 0;
  box-shadow: none;
  h4 {
    display: none;
  }
  svg {
    display: none;
  }
}

.close-card {
  cursor: pointer;
  color: #62676e;
}
.close-card:hover {
  color: #2f3235;
}

@media only screen and (max-width: 600px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
  .server-message {
    max-width: 90%;
  }
}
