.footer {
  position: fixed !important;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.03);
}
@media only screen and (max-width: 600px) {
  .footer {
    display: none;
  }
}
