.sidebar {
  position: fixed;
  background-color: #50545a;
  color: white;
  opacity: 0.9;
  width: 70%;
  height: 100%;
  max-width: 400px;
  z-index: 200;
  transition-timing-function: ease-in;
  transition: 0.5s;
  transform: translateX(0%);
  transform-style: preserve-3d;
}

.sidebar.hidden {
  transition-timing-function: ease-out;
  transition: 0.2s;
  transform: translateX(-84%);
}

.sidebar-list {
  list-style: none;
  height: 100%;
  width: 100%;
  padding: 1rem;
  padding-right: 0.2rem;
  display: flex;
  flex-direction: column;
}
.sidebar-list-item {
  padding: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.sidebar-list-item span {
  font-size: 1.5rem;
  font-weight: 600;
}

.sidebar-toggle:hover,
.sidebar-list-:active,
.sidebar-list-item:hover,
.sidebar-list-item:active {
  color: #368bc7;
  cursor: pointer;
}
.sidebar-toggle {
  padding: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.logo {
  padding: 0.2rem;
}
@media only screen and (max-width: 600px) {
  .sidebar.hidden {
    transition-timing-function: ease-out;
    transition: 0.25s;
    transform: translateX(-100%);
  }
  .sidebar-toggle {
    display: none;
  }
}

.sidebar-link {
  color: white;
}
